.App{
  background: #b2c9d9;

    height: 776px;
    margin-top: -24px; 
}


.Main{
  background: #fff;
  width: 17%;
  height: 71%;
  margin-left: 41%;
  margin-top: 119px;
}

.Title{

}

.Top{

}

.Footer{

}

.Circle{

}